<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title><%= title %></title>
    <script src="javascripts/jquery.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <script src="javascripts/ajax.js"></script>
  </body>
</html>
