<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">

    var lats=[];
    var longs=[];
    var map;


    $(document).ready(function(){
      console.log('jquery is ready');
      $.ajax({
        url:'https://data.cityofchicago.org/resource/ijzp-q8t2.json',
        type:'get',
        success:function(data){
          console.dir(data);

          for(var crime in data){
            // if(data[crime].primary_type=='HOMICIDE'){
              var marker = new google.maps.Marker({
                position: {lat:parseFloat(data[crime].latitude),lng:parseFloat(data[crime].longitude)},
                map: map,
                title: data[crime].primary_type+' ---- '+data[crime].description+' ---- '+data[crime].date
              });
            // }
          }
        },
        error:function(err){
          console.log(err);
        }
      });
    });

console.log(typeof lats[0]);

function initMap() {
  var myLatLng = {lat: 41.845652363, lng: -87.636561415};

   map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    animation:google.maps.Animation.DROP,
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
}






    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDce9h9W50bjyMQaNEkidDxicPgzweOuHY&callback=initMap">
    </script>
  </body>
</html>
